@import "@/styles/index";

.wrap {
 display: flex;
 justify-content: center;
 max-width: 1325px;
 margin: 30px auto 60px;
 position: relative;

 @include mq-down(md) {
  max-width: 100%;
  margin: 0 auto get_vw(60);
  flex-direction: column;
  padding-top: get_vw(80);
 }
}

.main {
 width: 600px;
 border-left: solid 1px var(--article-border-color);
 border-right: solid 1px var(--article-border-color);
 color: var(--white-color);
 box-sizing: border-box;

 @include mq-down(md) {
  width: 100%;
 }
}
