@import "@/styles/index";

.head {
  width: 100%;
  position: relative;
  color: var(--white-color);
  padding-bottom: 40px;
  border-bottom: solid 1px var(--article-border-color);

  @include mq-down(md) {
    padding-bottom: get_vw(30);
  }

  h1,
  h2 {
    padding-left: 20px;
  }

  h1 {
    font-size: 24px;
    font-weight: 600;
    padding-top: 80px;

    @include mq-down(md) {
      font-size: get_vw(24);
      padding-top: get_vw(60);
    }
  }

  h2 {
    font-size: 16px;
    padding-top: 20px;

    @include mq-down(md) {
      font-size: get_vw(16);
      padding-top: get_vw(20);
    }
  }

  .bg {
    object-fit: cover;
    object-position: center;

    @include mq-down(md) {
      width: 100%;
      height: get_vw(130);
    }
  }

  .icon {
    position: absolute;
    top: 130px;
    left: 5px;

    @include mq-down(md) {
      width: get_vw(85);
      height: get_vw(85);
      top: get_vw(90);
    }
  }
}

.footer {
  display: none;

  @include mq-down(md) {
    display: block;
    padding: get_vw(20) 0 get_vw(150);
  }
}
