@import "@/styles/index";

.articles {
  width: 100%;

  > li {
    padding: 20px 12px;
    box-sizing: border-box;

    @include mq-down(md) {
      padding: get_vw(20) get_vw(16) get_vw(20) get_vw(12);
    }

    & ~ li {
      border-top: solid 1px var(--article-border-color);
    }
  }
}

.footer {
  display: none;

  @include mq-down(md) {
    display: block;
    padding: get_vw(20) 0 get_vw(150);
  }
}
