@import "@/styles/index";

.back {
 height: 40px;
 padding: 0 12px;
 box-sizing: border-box;
 gap: 16px;
 font-size: 20px;
 font-weight: 600;

 @include mq-down(md) {
  width: 100%;
  height: get_vw(50);
  padding: 0 get_vw(12);
  gap: get_vw(16);
  font-size: get_vw(20);
  position: fixed;
  top: get_vw(55);
  z-index: 100;
  background: var(--black-color);
 }

 a {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 16px;
  color: var(--white-color);

  @include mq-down(md) {
   gap: get_vw(16);
  }
 }

 svg {
  transform: rotateZ(180deg);
 }
}

.article {
 color: var(--white-color);
 padding: 20px 12px 30px;
 border-bottom: solid 1px var(--article-border-color);

 @include mq-down(md) {
  padding: get_vw(60) get_vw(12) get_vw(30);
 }

 header {
  display: flex;
  gap: 16px;
  align-items: center;

  @include mq-down(md) {
   gap: get_vw(16);
  }

  h2 {
   font-size: 20px;
   font-weight: 600;

   @include mq-down(md) {
    font-size: get_vw(20);
   }
  }
 }

 time {
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  text-align: right;

  @include mq-down(md) {
   font-size: get_vw(14);
   padding-top: get_vw(5);
  }
 }

 hgroup {
  margin-top: 20px;
  line-height: 1.6;

  @include mq-down(md) {
   margin-top: get_vw(20);
  }

  h1 {
   font-size: 20px;
   font-weight: 700;

   @include mq-down(md) {
    font-size: get_vw(20);
   }
  }

  p {
   font-size: 16px;
   padding-top: 10px;

   @include mq-down(md) {
    font-size: get_vw(16);
    padding-top: get_vw(10);
   }
  }

  img {
   display: block;
   max-width: 100%;
   height: auto;
   margin: 20px auto 0;
   border-radius: 10px;

   @include mq-down(md) {
    margin: get_vw(20) auto 0;
   }
  }
 }
}
