@import "@/styles/index";

.back {
 height: 40px;
 padding: 0 12px;
 box-sizing: border-box;
 gap: 16px;
 font-size: 20px;
 font-weight: 600;
 z-index: 100;

 @include mq-down(md) {
  width: 100%;
  height: get_vw(50);
  padding: 0 get_vw(12);
  gap: get_vw(16);
  font-size: get_vw(20);
  background: var(--black-color);
  position: fixed;
  top: get_vw(60);
  left: 0;
  box-shadow: 0px 3px 15px var(--box-shadow-color);
 }

 a {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--white-color);

  @include mq-down(md) {
   gap: get_vw(16);
  }
 }

 svg {
  transform: rotateZ(180deg);
 }
}

.articlesWrap {
 @include mq-down(md) {
  padding-top: get_vw(40);
 }
}
